.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100% !important;
}

.example-container{
  text-align: center
}

.form-container{
  width: 100%;
  margin: 0 px auto;
  margin-top: 200 px
}

.form-field{
  display: block
}

table{
  width: 100%;
}

.btn-save{
  margin-top: 16px;
}

.linkRetornar{
  float: right;
  margin-right: 40px;
}

.titulo{
  float: left;
}
